#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS=hardening=+all
DPKG_EXPORT_BUILDFLAGS=1
include /usr/share/dpkg/buildflags.mk

%:
	dh  $@

override_dh_install:
	dh_install
	find $(CURDIR)/debian -name *.la -delete
	find $(CURDIR)/debian -name *.a -delete
	find $(CURDIR)/debian -name libtweets* -delete

# Do not call needless ldconfig
# Fix W:package-has-unnecessary-activation-of-ldconfig-trigger lintian warning
override_dh_makeshlibs:
	dh_makeshlibs --noscripts
